body, html {
    font-family: 'Source Sans Pro', sans-serif;
}
.mui--text-body2, h5 {
    font-weight: 600;
}
.mui-textfield {
    margin-bottom: 5px;
}
.mui-container-fluid {
    max-width: 600px;
}
.mui-panel {
    padding: 30px;
}
.dragover {
    background: #eee;
}
#toast-container .toast {
    box-shadow: 0 0px 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
}
#toast-container .toast:hover {
    box-shadow: 0 0px 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.2);
}
.file-to-compress {
    padding: 5px 8px;
    border-radius: 2px;
    border: 1px solid #ccccc;
    margin-bottom: 3px;
}
.file-to-compress:last-child {
    margin-bottom: 0;
}
.file-to-compress span {
    display: inline-block;
    margin-right: 1em;
}
.file-to-compress.status-Pending {
    border: 1px solid #1875c5;
    background: #eaf2f9;
}
.file-to-compress.status-Compressed {
    border: 1px solid #50bf72;
    background: #eaf9ea;
}
.file-to-compress.status-Error {
    border: 1px solid #bf5050;
    background: #f9dede;
}
