<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Electron Tinypng</title>
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700" rel="stylesheet">
        <link rel="stylesheet" href="./node_modules/angular/angular-csp.css">
        <link rel="stylesheet" href="./node_modules/angular-toastr/dist/angular-toastr.css">
        <link rel="stylesheet" href="./node_modules/muicss/dist/css/mui.css">
        <link rel="stylesheet" href="./index.css">
        <script src="./node_modules/lodash/lodash.js"></script>
        <script src="./node_modules/jquery/dist/jquery.js"></script>
        <script src="./node_modules/angular/angular.js"></script>
        <script src="./node_modules/ng-file-upload/dist/ng-file-upload.js"></script>
        <script src="./node_modules/angular-toastr/dist/angular-toastr.tpls.js"></script>
        <script src="./node_modules/muicss/dist/angular/mui-angular.js"></script>
        <script src="./index.js"></script>
    </head>
    <body ng-app="electronTinypng" style="background: #eee; padding-top: 20px;">
        <mui-container fluid>
            <mui-panel ng-controller="mainController" style="overflow: hidden;">
                <div class="mui--text-body1" style="display: flex; height: 100px; justify-content: center;
                     align-items: center; border: 2px dashed #ccc; margin-bottom: 10px; cursor: pointer;
                     overflow: hidden;"
                    ngf-drop="uploadFiles($files)" ngf-multiple="true">
                    Drop your image(s) here
                </div>
                <mui-row>
                    <mui-col xs="6" class="mui--text-left">
                        <mui-button ng-click="toggleSettings()" variant="raised">
                            <span ng-show="!settingsOn">Show Settings</span>
                            <span ng-show="settingsOn">Hide Settings</span>
                        </mui-button>
                    </mui-col>
                    <mui-col xs="6" class="mui--text-right" style="height: 48px; line-height: 48px;">
                        Monthly Usage: <strong>{{usage}}</strong>
                    </mui-col>
                </mui-row>
                <form ng-show="settingsOn">
                    <mui-row>
                        <mui-col xs="6">
                            <mui-input ng-model="settings.apiKey" label="TinyPNG API Key *" type="text" required ng-disabled="savingSettings"></mui-input>
                        </mui-col>
                        <mui-col xs="6">
                            <mui-input ng-model="settings.numComp" label="No. of Compressions per Image *" type="number" requred ng-disabled="savingSettings"></mui-input>
                        </mui-col>
                    </mui-row>
                    <mui-button color="primary" ng-click="saveSettings()">Save</mui-button>
                </form>
            </mui-panel>
        </mui-container>
    </body>
</html>
