<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Electron Tinypng</title>
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700" rel="stylesheet">
        <link rel="stylesheet" href="./node_modules/angular/angular-csp.css">
        <link rel="stylesheet" href="./node_modules/muicss/dist/css/mui.css">

        <style>
            body, html {
                font-family: 'Source Sans Pro', sans-serif;
            }
            .mui--text-body2, h5 {
                font-weight: 600;
            }
            .mui-textfield {
                margin-bottom: 5px;
            }
            .mui-panel {
                padding: 30px;
            }
        </style>

        <script src="./node_modules/lodash/lodash.js"></script>
        <script src="./node_modules/jquery/dist/jquery.js"></script>
        <script src="./node_modules/angular/angular.js"></script>
        <script src="./node_modules/ng-file-upload/dist/ng-file-upload.js"></script>
        <script src="./node_modules/muicss/dist/angular/mui-angular.js"></script>
        <script src="./index.js"></script>
    </head>
    <body ng-app="electronTinypng" style="background: #666; padding-top: 20px;">
        <mui-container fluid>
            <mui-panel ng-controller="mainController">
                <mui-row>
                    <mui-col md="5">
                        <div class="mui--text-body1" style="display: flex; height: 200px; justify-content: center;
                            align-items: center; border: 2px dashed #ccc; margin-bottom: 20px; cursor: pointer;"
                            ngf-select ng-model="files" ngf-multiple="true">Drop your image(s) here</div>
                    </mui-col>
                    <mui-col md="7">
                        <form>
                            <fieldset style="border: 0; margin: 0; padding: 0;">
                                <div class="mui--text-body2">Settings</div>
                                <mui-input ng-model="apiKey" label="TinyPNG API Key *" float-label required></mui-input>
                                <mui-input ng-model="numComp" label="Number of Compressions *" type="number" float-label requred></mui-input>
                                <mui-button color="primary">Save</mui-button>
                            </fieldset>
                        </form>
                    </mui-col>
                </mui-row>
            </mui-panel>
            <mui-panel>
            </mui-panel>
        </mui-container>
    </body>
</html>
